@charset "UTF-8";

/* Typical Device BreakPoint

Pequenas telas: até 600px
Celular: de 600px até 768px
tablet: 768px até 992px 
Desktop:992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:320px) and (max-width:599px) {
    .banner_headline h1{
        padding-left: 60px;
        font-size: 40px;
    }
    .banner_headline h2{
        font-size: 11px;
        padding-left: 50px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;    
      }
    .container{
        flex-direction: column;
        
    }
    header {
        height: auto;
    }
    .logo{
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }

    .banner1, .banner2{
        display: none;
    }

    #geral section, aside {
        padding-left: 30px;
    }
   
    #geral section > p{
        padding: 20px;
    }

    .area_footer{
        flex-direction: column;
        padding: 20px;
    }

    
    .footer_menu{
        height: auto;;
        flex-direction: column; 
        padding: 20px;
    }
}

@media screen  and (min-width:600px) and (max-width:768px) {
    .banner_headline h1{
        font-size: 50px;
        padding-left: 40px;
    }
    .banner_headline h2{
        font-size: 15px;
        padding-left: 40px;
    }
    .banner_options{
        height: auto;
         
    }
           


    .container{
        flex-direction: column;
        
    }
    #geral section, aside {
        padding-left: 30px;
    }
   
    #geral section > p{
        padding: 20px;
    }

    .area_footer{
        flex-direction: column;
        padding: 20px;
    }

    
    .footer_menu{
        height: auto;;
        flex-direction: column; 
        padding: 20px;
    }

}