@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    width: 990px;
    
    display: flex;
    justify-content: space-between;
}

.logo {
    display:flex;
    align-items: center;
    padding: 5px;
}
.name-logo{
    display:flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
       
}
a{
    text-decoration: none;
    color: black;
    
}

.menu{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style-type: none;
}
nav > ul {
    display: flex;
}
nav  a {
    display: block;
    padding: 10px;
    margin: 5px;
    color:#727272;
    text-transform: uppercase;
}
nav a:hover{
    background-color:#42b3e5;
    color: white;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #42b4e581;
}
 section#banner {
    background-image: url('../imagens/image_02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:670px;
    display: flex;
    justify-content: center;
}

.column{
    flex-direction: column;
}