@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display:flex;
    align-items: center;
    padding: 5px;
}
.name-logo{
    display:flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
       
}
a{
    text-decoration: none;
    color: black;
    
}

.menu{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style-type: none;
}
nav > ul {
    display: flex;
}
nav  a {
    display: block;
    padding: 10px;
    margin: 5px;
    color:#727272;
    text-transform: uppercase;
}
nav a:hover{
    background-color:#42b3e5;
    color: white;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #42b4e581;
}
 section#banner {
    background-image: url('../imagens/image_02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:670px;
    display: flex;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.banner_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}
.banner_headline h1 {
    color: white;
    font-weight: lighter;
    font-size:72px;
    padding: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    margin: 0px;
    max-width: 350px;
    margin-bottom: 15px;
}
.banner_headline h2 {
    color: white;
    font-size: 19px;
    font-weight: 300;
    line-height: 2em;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}

.banner_options {
    display: flex;
    height: 210px;
    background-color: beige;
    flex-direction: row;
}
.banner1,.banner2,.banner3{
    flex:1;
    color: white;
    padding:20px;
}
.banner1{
    background-color: #42B3E5;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner2{
    background-color: #0384CE;
}
.banner3{
    background-color: #3156A3;
}
.banner_title{
    font-size:1.2em;
}
.banner_options  a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 1em;
    text-decoration: none;
}
.banner_options a:hover{
    background-color: white;
    color: black;
    display: inline-block;
}
.banner_options a::after{
    content: " ➪";
}

.hours{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 15px;
    border-bottom:solid 1px rgba(255, 255, 255, 0.151);
    font-size: 0.8em;
}

#geral{
    display: flex;
    justify-content: center;
}
#geral section {
    flex:2;
}
#geral aside{
    flex: 1;
}
.widget-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    font-size: 1.1em;
    color: black;
    font-weight: bolder;
}
.widget_title_bar:after{
    content: "";
    display: block;
    bottom: 0;
    width: 220px;
    height: 2px;
    background-color: #42B3E5;
    margin-top: 10px;
    visibility: hidden;
    

}
.widget_body{
    display: flex;
    flex-flow: row wrap;
    
     
}

.quadrado{
    display: flex;
    padding: 10px;
    min-width: 100px;
    background-color: #0384CE;
    min-height: 100px;
    margin: 15px;
    
    
}
.address-spa{
    display: flex;
    flex-direction: row ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.522);
}
.adress{
    flex: 1;
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
}

#phone::before{
   content: "☏";
   font-size: 1.6em;
}
#email::before{
    content: "✉";
    font-size: 1.6em;
}
.news_data{
    display: flex;
}
.news_posted_at{
    background-color: #2b4c99;
    color: white;
    font-size: 0.6em;
    padding: 10px;
    
}
.news_comments{
    background-color: #42B3E5;
    color: white;
    font-size: 0.8em;
    padding: 10px;
    margin-left: 2px;
}

.news_thumbnail img{
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 25px;
}

.news_title {
    font-size: 1.8em;
    font-weight: lighter;
    padding-bottom: 25px;
    color: black;
    
}
article > p{
    line-height: 1.5em;
    font-size: 1em;
    color: #727272;
}
.arti_flex{
    display: flex;
    flex-wrap: wrap;
    
}
article {
    flex: 1;
    min-width: 300px;
    margin-right:15px ;
}

footer{
    background-color: rgba(6, 6, 6, 0.861);
    display: flex;
    color: white;
    justify-content: center;
}
.footer_menu{
    display: flex;  
   
}

.fm_1,.fm_2,.fm_3{
    flex: 1;
    padding: 20px;
    font-size: 0.8em;
    
}
.fm_1 > div > h3 {
    padding-bottom: 15px;
    font-size: 2em;
    font-weight: lighter;
}
.fm_2 > div > h3 {
    padding-bottom: 15px;
    font-size: 2em;
    font-weight: lighter;
}
.fm_3 > div > h3 {
    padding-bottom: 15px;
    font-size: 2em;
    font-weight: lighter;
}

.fm_1{
    background-color: #42B3E5;
}
.fm_2{
    background-color: #0384CE;
}
.fm_3{
    background-color: #3156A3;
}
.fm_especial::after{
    content: " ➞";
}

.area_footer{
    display: flex;
}

.flex_columns {
    flex-direction: column;
   

}
.area_footer_item {
    display: flex;
    flex: 1;
    color: white;
}
footer .widget_title_text{
    color: white;
}
.footer_copy{
    border-top: 1px solid #7e7d7dd4 ;
    height: 30px;
    line-height: 1.5em;
    color: white;
    text-align: center;
}
.info-footer{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;

    
}
.widget_last > span{
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 20px;
    
}
.span_p{
    margin-bottom: 20px;
}


.widget_title_bar.slide:after
{
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-timing-function: cubic-bezier(.75, 0, .25, 1);	
	-webkit-animation-timing-function: cubic-bezier(.75, 0, .25, 1);
	animation-duration: 0.6s;	
	-webkit-animation-duration: 0.6s;
	visibility: visible;
}
@keyframes slide 
{
	0% 
	{
		width: 0;	
	}
	100% 
	{
		width: 50px;	
	}		
}
@-webkit-keyframes slide 
{
	0% 
	{
		width: 0;
	}
	100% 
	{
		width: 50px;
	}		
}